<style>
        .input-wrapper {
            position: relative;
            display: inline-block;
        }

        .input-wrapper input {
            padding-right: 40px;
        }

        .input-wrapper button {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
</style>